*{
    background-color: cyan;
}
.header{
    text-align: center;
    border: 1px solid crimson;
    border-radius: 1em;
    background-color: chartreuse;
    padding: 5px;
    padding-bottom: 1em;
    
}
#tree{
    display: inline-block; 
    
}
p{
    display:inline-block ; padding: 1%; width: 19%;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
}
p::first-letter{
    font-weight: bold;
    font-size: larger;
}
.links{
    color: crimson;
    text-align: right; 
    font-size: large;
    
}
a:link {
    background-color: yellow;
  }
  
a:visited {
    background-color: cyan;
}
  
a:hover {
    background-color: lightgreen;
}
  
a:active {
    background-color: hotpink;
} 
.footer{
    text-align: center;
    border: 1px solid crimson;
    border-radius: 1em;
    background-color:blueviolet;
    padding: 10px;

}
#mydiv{
    background-color: red;
    animation: mymove 5s infinite;
    color: white;
}
@keyframes mymove{
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}
