/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body{
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}