<p>login-app works!</p>
<form action="" #login = "ngForm" (ngSubmit)="loginSubmit(login.value)">
    <div>
        username <input type="text" name="un" ngModel autocomplete="off" required>
    </div>
    <div>
        password <input type="password" name="pw" ngModel required> 
    </div>
    <div>
        <input type="submit" value="login" [disabled]="login.invalid">
    </div>
</form>
<div class="text-danger" [hidden]="login.valid || login.pristine" style="color: red;">
    *username and password is mandatory*
</div>