<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" routerLink = "home">Home</a></li>
    <li class="nav-item">
        <a class="nav-link" routerLink = "store">Add Player</a> </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "findAll">Player List</a></li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "findUser">Search Player</a> </li>
                <li class="nav-item">
                    <a  class="nav-link" routerLink = "delete">Remove PLayer</a> </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink = "update">Update Player</a> </li>
</ul>

<br>
<div>
    <router-outlet></router-outlet>
</div>
