<div class="container-fluid">
    <h2 class="alert alert-warning">Remove Player</h2>
    <div  style="width: fit-content;margin-left: 50px;">
        <div class="form-group" >
            <label for="id" >Id</label>
            <input type="number" [formControl]="_id" class="form-control" placeholder="Enter here">
        </div><br>
    <input type="submit" value="Delete" (click)="handleGet(_id.value)" class="btn btn-danger">
    <div>
        <p *ngIf="users">Get Id users: {{users | json}}</p>
    </div>
</div>