<h3 class="alert alert-success">Add Player</h3>
<form [formGroup] = "userForm" (ngSubmit) = "handleSubmit()" style="width: 400px; border: none;padding: 1em;margin-left: 50px;">
    <div class="form-group">
      <label for="formGroupExampleInput">Id</label>
      <input type = "number" class="form-control" formControlName = "_id" id="formGroupExampleInput" placeholder="Enter here">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Firstname</label>
      <input type = "text" formControlName = "firstname" class="form-control" id="formGroupExampleInput2" placeholder="Enter here">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput3">Lastname</label>
        <input type = "text" formControlName = "lastname" class="form-control" id="formGroupExampleInput3" placeholder="Enter here">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Age</label>
        <input type = "number" formControlName = "age" class="form-control" id="formGroupExampleInput4" placeholder="Enter here">
      </div>
      <div class="form-group" formGroupName="hobby">
        <label for="formGroupExampleInput5">Sport</label>
        <input type = "text" formControlName = "sport" class="form-control" id="formGroupExampleInput5" placeholder="Enter here">
      </div>
      <div class="form-group" formGroupName="address">
        <label for="formGroupExampleInput6">State</label>
        <input type = "text" formControlName = "state" class="form-control" id="formGroupExampleInput6" placeholder="Enter here">
      </div>
      <div class="form-group" formGroupName="address">
        <label for="formGroupExampleInput7">City</label>
        <input type = "text" formControlName = "city" class="form-control" id="formGroupExampleInput7" placeholder="Enter here">
      </div>
      <div>
        <input type = "submit" value = "Regsiter" class="btn btn-success">
    </div>
 </form>
 <div>
    Info: <p *ngIf = "info">{{info | json}}</p>
    <p *ngIf = "info">Inserted Id: {{info?.insertedId}}</p>
</div>
    
      
  
    
