<h1 class="alert alert-primary text-center">Welcome to Pandemonium</h1>
<div class="container-fluid">
<h2 class="alert alert-warning">search</h2>
<img src="https://i.scdn.co/image/ab67616d0000b27342c9045c0eda0d56293d6077"alt="hell" style="width: 400px;height: 400px;;"><br>
<div style="margin-left: 150px;" class="">
<button routerLink="register" class="btn btn-primary">register</button><span>&nbsp;</span>
<button routerLink="login" class="btn btn-primary">login</button><span>&nbsp;</span>
</div>
</div>